<!-- Template for changing the password by the user -->
{% extends "base.html" %}
{% block content %}
<a class="go_back_btn" href="/home"> &laquo; Go Back</a>
<div class="card-wrapper">

  <div class="card">

    <h1 class="center">Change Account Password</h1>

    <form name="changepassword_form">
      <input type="hidden" name="csrf_token" value="{{ csrf_token()}}" />

      <label for="password">Password</label>
      <input type="password" name="password" class="field" required>

      <label for="confirmpassword">Password</label>
      <input type="password" name="confirmpassword" class="field" required>

      <p class="error error--hidden"></p>

      <input type="submit" value="Change Password" class="btn">

    </form>

  </div>
</div>
{% endblock %}