<!-- Template for user login -->
{% extends "loginbase.html" %}
{% block content %}
<div class="card-wrapper">
    <div class="card">
        <h1 class="center">Log In</h1>
        <form name="login_form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token()}}" />
            <label for="email">Email</label>
            <input type="email" name="email" class="field" required>
            <label for="password">Password</label>
            <input type="password" name="password" class="field" required>
            <p class="error error--hidden"></p>
            <input type="submit" value="Log In" class="btn">
        </form>
        <a class="center" id="admin_page_link" href="\admin">Go To Admin Page</a>
    </div>
</div>

<script>
    sessionStorage.removeItem("tabID");
    localStorage.removeItem("tabID");
</script>

{% endblock %}